<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check novel update</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- prod -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>-->
    <!-- dev -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>

                    <v-row dense>
                        <v-col cols="12">
                            <v-card
                                    color="#385F73"
                                    dark
                            >
                                <v-card-title class="headline">{{message}}</v-card-title>
                            </v-card>
                        </v-col>
                    </v-row>

                    <v-col
                            v-for="(item, i) in novelList"
                            :key="i"
                            cols="12"
                    >
                        <v-card
                                color="#1F7087"
                                dark
                                class="my-text"
                        >
                            <v-card-title class="headline ">
                                <a :href="item.url" target="_blank">{{item.seq}} : {{item.name}}</a>
                            </v-card-title>
                            <v-card-subtitle>{{item.url}}</v-card-subtitle>
                            <v-card-text class="" v-html="item.resultHtmlHandled"></v-card-text>

                            <!--<v-card-actions>
                                <v-btn text>Link</v-btn>
                            </v-card-actions>-->

                        </v-card>
                    </v-col>

                </v-container>

            </v-main>
        </v-app>
    </div>
    <style>
        .my-text {
            color: white;
        }
        .my-text a {
            color: white;
        }
    </style>
    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                message: '안녕하세요!',
                novelList: [],
            },
            methods: {
                fetchData: function () {
                    var me = this;
                    me.message = '>> checking';
                    axios.get('/ajax/check')
                    .then(function (response) {
                        console.log(response);
                        me.message = '>> update time: ' + new Date().toString();
                        me.novelList = response.data.result;
                        me.handleLink();

                    }).catch(function (error) {
                        me.message = '>> error: ' + error;
                    });
                },
                /*
                 a link 처리
                 */
                handleLink: function() {
                    if( ! this.novelList ) {
                        return;
                    }
                    this.novelList.forEach(function(item,i){
                        item.siteUrl = item.url.replace(/(https?:\/\/[^/]+)\/.*/, '$1');
                        var $div = $('<div></div>').append(item.resultHtml);
                        $div.find('a[href]').each(function(j, el){
                           var oldHref = $(el).attr('href');
                           $(el).prop('href', item.siteUrl + oldHref);
                        });
                        item.resultHtmlHandled = $div.html();
                    });
                }
            },
            created: function() {
                this.fetchData();
            },
            mounted: function () {

            }
        });
    </script>
</body>
</html>